.thanhcongcu{
    display: flex;
    width: 100%;
    height: 50px;
    background-color:black;
    align-items: center;
   
}
h1{
    color: aliceblue;
}
.congcu{
   margin-left: 700px;
}
.thanhcongcu ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
   
}
.thanhcongcu ul li{
    
    margin-left: 10px;
}
.thanhcongcu ul a{
    text-decoration: none;
    color: aliceblue;
}

.hop{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.vien{
    width: 300px;
    height: 300px;
    background-color: black;
    margin-left: 50px;
    border-radius: 8px;
}
.vanban{
    display: flex;
    width: 100%;
    height: 170px;
    flex-direction: column;
    align-items: center;
   
    

}
.vanban .chu{
    width: 550px;
    height: 100px;
    text-align: center;
    
}
.luachon{
    display: flex;
    width: 100%;
    height: 210px;
    align-items: center;
    justify-content: center;
   
} 
 .chon{
    width: 200px;
    height: 200px;
    background-color:beige;
    margin-left: 50px;
    
 }   
.luachon .chon a{
    text-decoration: none;
    text-align: center;
    
}
.nynh{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.nynh .vanban1{
    width: 40%;
    height: 280px;
}
.nynh .video{
    width: 40%;
    height: 280px;
}
.ham{
    display: flex;
    justify-content: center;
}
.ham .den{
    width: 300px;
    height: 250px;
    background-color: black;
    margin-left: 50px;
}
.hamham{
    display: flex;
    justify-content: center;
}
.hamham .den{
    width: 300px;
    height: 100px;  
    margin-left: 50px;
    background-color: azure;
}